<phpunit
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    colors="true"
>
    <testsuites>
        <testsuite name="integration">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory="var/cache/coverage">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
</phpunit>